<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Main</title>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/hamburger.css"/>

    <link
            href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,500&display=swap"
            rel="stylesheet"
    />

    <!-- Montserrat font link -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap"
            rel="stylesheet"
    />

    <!-- link for fraunces font -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap"
            rel="stylesheet"
    />

    <!--    link for merindo font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/card-style.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<header>
    <div class="topnav">
        <h1 class="brand-name" style="padding-top: 2rem">Mz Cosmetics</h1>
    </div>
</header>
<main>

    <article>
        <div class="greading">
            <h1>
                Welcome to <span>mz cosmetics</span>, Where beauty meets excellence.
            </h1>
            <h2>Discover your perfect look with our premium products and shine with confidence!</h2>
        </div>
        <img src="./images/greating.png" alt="">
    </article>

    <section>

        <h1>
            <span>
                Why us?
            </span>
            <span>
                 At <span>MZ Cosmetics</span>, we believe that beauty is an expression of <span>individuality</span> and <span>confidence</span>. Our mission is to
            provide high-quality, innovative cosmetics that enhance your natural beauty and empower you to <span>feel your
            best every day.</span>
            </span>

            <span>
                 Our product line features a diverse range of makeup and skincare <span>essentials</span>, crafted with meticulous
            attention to detail and the finest ingredients. Whether you're looking for a bold new look or subtle
            enhancements, MZ Cosmetics has everything you need to create your <span>unique style</span>.
            </span>

            <span>
                  We are committed to sustainability and cruelty-free practices, ensuring that our products are not only good
            for you but <span> also kind to the planet</span>. Our dedication to excellence drives us to continuously innovate and
            deliver products that meet the highest standards of beauty and care.
            </span>

            <span>
                   Join the MZ Cosmetics community and discover the beauty within. With MZ Cosmetics, you're not just wearing
            makeup; you're embracing a lifestyle of confidence, elegance, and self-love.
            </span>

        </h1>
        <img src="./images/why-us.png" alt="">
    </section>

    <div class="container">
        <h1>Shop by categories:</h1>
        <ul class="cards">
            <a href="#lips" style="text-decoration: none">
                <li class="card1"><span>lips</span></li>
            </a>
            <a href="#palettes" style="text-decoration: none">
                <li class="card2"><span>palettes</span></li>
            </a>

            <a href="#eye" style="text-decoration: none">
                <li class="card3"><span>brow</span></li>
            </a>

            <a href="#bags" style="text-decoration: none">
                <li class="card5"><span>bags</span></li>
            </a>

            <a href="#make-up-sets" style="text-decoration: none">
                <li class="card4"><span>makeup set </span></li>
            </a>
        </ul>
    </div>

    <ul>
        <% for (i in card_info){ %>
            <li>
                <a href="/detailed_info?id=<%= i %>">
                    <img src=<%= card_info[i].src %> alt=<%= card_info[i].title %>>

                    <h1>
                        <%= card_info[i].title %>
                    </h1>
                    <p>
                        <%= card_info[i].price %>

                    </p>
                </a>
            </li>
        <% } %>
    </ul>

<!--    <div id="lips">-->
<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/rare.webp" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Lip cream</p>-->
<!--                <h1>Lip Soufflé Matte Lip Cream</h1>-->
<!--                <p>-->
<!--                    Airy, whipped cream formula glides on easy for full-on color-->
<!--                    with a featherweight feel. <br/>-->

<!--                    Velvety matte finish with a soft blurring effect—lips look-->
<!--                    fuller, smoother, and more plump.-->
<!--                    <br/>-->
<!--                    Hydrates, softens, and stays put. Lips feel comfortable all-->
<!--                    day—no drying or caking here!-->
<!--                    <br/>-->
<!--                    Precise applicator tip makes it easy to apply.-->
<!--                </p>-->
<!--                <div class="price">-->
<!--                    <ins>$19.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/tibury.jpeg" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>PILLOW KIT</p>-->
<!--                <h1>TALK LIP KIT</h1>-->
<!--                <p>-->
<!--                    Darlings, unlock the pout-perfecting secrets behind my PILLOW-->
<!--                    TALK EFFECT with the Pillow Talk Lip Kit!-->
<!--                    <br/>-->
<!--                    Pillow Talk is EVERYONE'S PERFECT SHADE! Loved by celebrities,-->
<!--                    supermodels and icons across the globe, my suits-all Pillow Talk-->
<!--                    lipsticks and lip liners are the secret to sumptuous, fuller,-->
<!--                    wider looking lips!-->
<!--                </p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/romand-glasting-nude.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>lipstick</p>-->
<!--                <h1>romand lipstick</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/anasasia-lig-glose.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>lip glose</p>-->
<!--                <h1>Anasasia lip glose</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/kiko.webp" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>lipstick</p>-->
<!--                <h1>KIKO lipstick</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/clio-crystal-glam-balm.jpeg"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>balm</p>-->
<!--                <h1>Clio galm balm</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/lip-oil-rose.jpeg"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>lipstick</p>-->
<!--                <h1>lip oil rose</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/Jelly lipstick.jpeg"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>lipstick</p>-->
<!--                <h1>jelly lipstick</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--</div>-->

<!--<div id="palettes">-->
<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/gircult.webp" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Powder</p>-->
<!--                <h1>gircult powder</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/handaiyan.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Powder</p>-->
<!--                <h1>handaiyan powder</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/nars.webp" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Powder</p>-->
<!--                <h1>nars powder</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/novo-powder-silky.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Powder</p>-->
<!--                <h1>Novo powder</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--</div>-->
<!--<div id="eye">-->
<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/eye.jpeg" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Eyeshadow Palettes</p>-->
<!--                <h1>Charllotte Tibery</h1>-->
<!--                <p>-->
<!--                    Bigger Brighter Eyes in Exagger-Eyes is a rose-gold eyeshadow-->
<!--                    palette quad, featuring an ivory-cream, rose-gold, red-brown and-->
<!--                    a transparent sparkle shade to create the illusion of wider,-->
<!--                    brighter-looking eyes. Inspired by the sparkling, eye-widening-->
<!--                    filters of social media!-->
<!--                </p>-->
<!--                <div class="price">-->
<!--                    <ins>$39.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--</div>-->
<!--<div id="bags">-->
<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/givengy-bag.jpeg"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Bag</p>-->
<!--                <h1>givengy bag</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/hermes-bag.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>bag</p>-->
<!--                <h1>Hermes bag</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/dior-white-bag.jpeg"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Bag</p>-->
<!--                <h1>Dior bag</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--</div>-->
<!--<div id="make-up-sets">-->
<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/zoeva.webp" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Makeup Brush Set</p>-->
<!--                <h1>Vegan Brush set</h1>-->
<!--                <p>-->
<!--                    ZOEVA Makeup Brush Sets are the perfect addition to your beauty-->
<!--                    kit. Distinctively stylish and available in different shapes,-->
<!--                    sizes and functions to make all your beautiful dreams come true.-->
<!--                </p>-->
<!--                <div class="price">-->
<!--                    <ins>$139.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/dior-indenim.jpeg"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Makeup set</p>-->
<!--                <h1>Dior makeup indenim set</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/zoeva2.webp" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Brush</p>-->
<!--                <h1>zoeva brush set</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/noBg.jpeg" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Make up Sponge</p>-->
<!--                <h1>Oem Sponge</h1>-->
<!--                <p>-->
<!--                    3pcs sponge for applying any liquid makeup with a uniform effect-->
<!--                    and a support base for easier drying. Ideal for laying-->
<!--                    foundation evenly on cheeks, chin and forehead, without leaving-->
<!--                    any marks or lines. After each use, rinse the sponge with liquid-->
<!--                    soap.-->
<!--                </p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/brush-set.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>brush set</p>-->
<!--                <h1>Sheonly brush set</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--</div>-->
<!--<div id="Acsesuar">-->
<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img src="./images/vibe.jpeg" alt="product image" width="500"/>-->

<!--            <div class="container-text">-->
<!--                <p>Hair comb</p>-->
<!--                <h1>Vibe Comb</h1>-->
<!--                <p>-->
<!--                    Light weight detangling hair brush wet & dry rectangle shape-->
<!--                    glides through the hair to gently untangle even the toughest-->
<!--                    tangles with ease. <br/>-->
<!--                    This hair brush is designed brilliantly to minimize pain and-->
<!--                    protect hair against split ends and breakage.-->
<!--                </p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/dio-mirror.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Miror</p>-->
<!--                <h1>Dior lather mirror</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->

<!--    <section class="container-product">-->
<!--        <article class="preview-card">-->
<!--            <img-->
<!--                    src="./images/eyelash-curler.webp"-->
<!--                    alt="product image"-->
<!--                    width="500"-->
<!--            />-->

<!--            <div class="container-text">-->
<!--                <p>Curler</p>-->
<!--                <h1>eyelash Curler</h1>-->
<!--                <p>No information yet...</p>-->
<!--                <div class="price">-->
<!--                    <ins>$53.99</ins>-->
<!--                </div>-->
<!--            </div>-->
<!--        </article>-->
<!--    </section>-->
<!--</div>-->
</main>
<footer>
    <div class="bye-card">
        <h1>Let's Stay connected</h1>
        <div class="right">
            <a href="tel:+9989975458148">Phone</a>
            <a href="https://amir2501.github.io/Mz-Cosmetics/">
                We on social media
            </a>
        </div>
    </div>
</footer>
</body>
</html>
